html {
	height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
	background-color: #808080;
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#wrapper {
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    text-align:center;
    vertical-align:middle;
}

#scoreboard{
    position:absolute;
	top: 15%;
	left: 80%;
	width: 200px;
	height: 200px;
	margin-top: -100px; /*set to a negative number 1/2 of your height*/
	margin-left: -100px; /*set to a negative number 1/2 of your width*/
	text-align: center;
	vertical-align: middle;
	z-index: -1;
}

#ContainerR{
    position:absolute;
	top: 50%;
	left: 75%;
	width: 194px;
	height: 194px;
	margin-top: -97px; /*set to a negative number 1/2 of your height*/
	margin-left: -97px; /*set to a negative number 1/2 of your width*/
	text-align: center;
	vertical-align: middle;
	z-index: -1;
}

#ContainerL{
    position:absolute;
	top: 50%;
	left: 25%;
	width: 194px;
	height: 194px;
	margin-top: -97px; /*set to a negative number 1/2 of your height*/
	margin-left: -97px; /*set to a negative number 1/2 of your width*/
	text-align: center;
	vertical-align: middle;
	z-index: -1;
}